.faq-container {
  margin-top: 8rem;

  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.faq-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-text-container h3 {
  border-bottom: 0.5px solid grey;
  margin-bottom: 2.5rem;
}
.faq-text-container h3 {
  margin-right: 2rem;
}
