.home-container {
  margin-top: 8rem;

  
  margin-left: auto;
  margin-right: auto;
}
.home-coming {
  display: flex;
  justify-content: space-between;
  background: #eac435;
  flex-wrap: wrap;
}
.home-coming div {
  display: inline-block;
  margin: 1rem;
}
.home-coming div h1 {
  color: #17255a;
}
.home-coming div p {
  width: 32rem;
}
.home-learn {
  width: 19.6rem;
  height: 30.6rem;
  margin-left: 1.25rem;
}
.home-learn p {
  width: 21.9rem;
}
.home-learn div h1 {
  font-size: 2.8rem;
  color: #17255a;
}
.devpro {
  margin-left: 32rem;

  display: flex;
}

.home-shape1 {
  width: 15.625rem;
 
  height: 15.625rem;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.4);
  background: #11c7a4;
  
  border-radius: 50%;
  margin-bottom: 1.25rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;

  z-index: 4;
  
}



.home-shape {
  width: 15.625rem;
  height: 15.625rem;
  background: #17255a;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  z-index: 4;

  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.4);
}

.image1 {
  margin-top: -4.375rem;
  margin-left: 4rem;

  object-fit: cover;
  width: 100%;
}
.text-body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25rem;
  align-items: center;
}
.image-box {
  width: 25rem;
  height: 25rem;
}
.diva {
  display: flex;
  justify-content: space-between;
  margin: 3.75rem 3.75rem 0 3.75rem;
  

  padding: 2.5rem;
  align-items: center;
}

.maindiv .inner-div div {
  width: 13.125rem;
  height: 11.25rem;
}
.inner-div {
  display: flex;
}
.maindiv .inner-div div h4 {
  width: 9.375rem;
  margin: 0 auto;
  color: white;
  padding: 0.625rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.update {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
  margin-right: 3.125rem;
}
.text-box {
  display: flex;
  padding: 2rem 0;
  width: 95vw;
  margin-left: 3, 125rem;
  justify-content: space-between;
  align-items: center;
}
.text-box div {
  margin: 0 3.125rem 0 2rem;
}
.text-box .head {
  width: 33%;
  text-align: left;
}
.align {
  text-align: left;
  width: 15%;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.699);
}
.diva2 {
  display: flex;
  flex-direction: column;
}

.diva2 p,
span,
h3 {
  margin: 0.5rem 0 0.25rem 2.5rem;
}
.diva2 p,
span {
  font-size: 0.63rem;
}
.diva2 p {
  color: #03cea4;
}
.diva-inner{
  display: flex;
  justify-content: space-between;
}
.diva-inner ul{
  width: 200px;
}
.diva-inner div img{
margin-right: 1.25rem;
}
.cone{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cone .arr{
margin-left: 2rem;
}

