.product-container{
	 margin-top: 8rem;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
/* <Route  exact path='/' render={props=>(
            <React.Fragment>
              <Landing/>
            </React.Fragment>
          )} component={Landing}/>*/